* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: white;
}




#page1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 15, 15);
}


#page2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(37,37,37);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
}


#page3 {
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

#box {
    height: 300px;
    width: 300px;
    background-color: rgb(65, 193, 225);
    border-radius: 10px;
}